@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header {
	padding: 5px;
	height: 35px;
	background-color: #545454;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
}

#conteudo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 5px;
	font-size: 18;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#form{
	display: flex;
	flex-direction: column;
	margin-left: 25%;
	margin-right: 25%;	
	text-align: left;
}
.inputs{
	display: flex;
	justify-content: center;
}
.buttons{
	display: flex;
	flex: 1;
	justify-content: center;
	margin-left: 20px;
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}
.centralizar-itens {
	display: flex;
    flex: 1;
    justify-content: center;
    text-align: left;
}


h1 {
	flex: 1;
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	padding: 0px;
	margin-bottom: 10px;
	color: #545454;
}